name: DevSecOps Security Pipeline - v2

on:
  pull_request:
    branches:
      - main

jobs:
  security-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install Trivy
        uses: aquasecurity/trivy-action@v0.8.0
        with:
          scan-type: config
          format: table
          output: trivy-report.txt


    
      - name: Run Trivy Security scan
        run: echo "This is a failsafe change to ensure the pipeline runs correctly."